body {
  text-align: center;
  font-family: "Roboto", monospace;
  background-color: rgb(143, 203, 227);
}

h1 {
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 55px;
  margin: 2%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-flow: row wrap;
  height: 250px;
  width: 290px;
}

.board {
  width: 40px;
}

.board:hover {
  background-color: rgb(86, 163, 179)
}

.circle {
  border-radius: 50%;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

#reset-button {
  background-color: rgb(134, 217, 178);
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

#reset-button:hover {
  background-color: rgb(100, 158, 131);
  color: white;
  cursor: pointer;
}
