body {
  text-align: center;
  font-family: "Roboto", monospace;
  background-color: rgb(143, 203, 227);
}

h1 {
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 55px;
  margin: 2%;
}

h2 {
  font-size: 36px;
  font-weight: lighter;
  margin: 2%;
}

button {
  font-size: 20px;
  padding: 14px;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}

.square {
  border: 2px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;              
  height: 129px;
  width: 129px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.mini {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  user-select: none;
  width: 40px;
}

.mini:hover {
  background-color: rgb(86, 163, 179);
  cursor: pointer;
}

#scoreboard {
  border: 1px solid black;
  height: 75px;
  background-color: white;
}

#reset-button {
  background-color: rgb(134, 217, 178);
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

#reset-button:hover {
  background-color: rgb(100, 158, 131);
  color: white;
  cursor: pointer;
}
